Redirect 301 /quote-list/	https://www.seatsplus.com.au/get-a-quote/
Redirect 301 /bins/	https://www.seatsplus.com.au/category/bike-racks-bins-accessories/
Redirect 301 /accessories/	https://www.seatsplus.com.au/category/bike-racks-bins-accessories/
Redirect 301 /colour-selector/	https://www.seatsplus.com.au/resources/colour-chart/
Redirect 301 /spectator-seating/	https://www.seatsplus.com.au/category/spectator-seating/
Redirect 301 /timber-furniture/	https://www.seatsplus.com.au/category/timber-seating/
Redirect 301 /bike-stands-and-bag-racks/	https://www.seatsplus.com.au/category/bike-racks-bins-accessories/
Redirect 301 /seating/	https://www.seatsplus.com.au/category/bench-seating/
Redirect 301 /park-settings/	https://www.seatsplus.com.au/category/park-settings/
Redirect 301 /childrens-park-furniture/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-park-setting/
Redirect 301 /buddy-benches/	https://www.seatsplus.com.au/category/buddy-benches/
Redirect 301 /product/day-bed/	https://www.seatsplus.com.au/products/bench-seating/day-bed/
Redirect 301 /product/bolt-down-double-plank-bench/	https://www.seatsplus.com.au/products/bench-seating/double-plank-bolt-down-bench/
Redirect 301 /product/super-seater-park-setting/	https://www.seatsplus.com.au/products/park-settings/super-seater/
Redirect 301 /product/choir-stand/	https://www.seatsplus.com.au/products/spectator-seating/choir-stands/
Redirect 301 /product/childrens-bolt-down-benches/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-bolt-down-bench/
Redirect 301 /product/double-plank-grandstand-with-back-rest/	https://www.seatsplus.com.au/products/spectator-seating/double-plank-grandstand-with-back-rest/
Redirect 301 /product/5-bay-bike-stand/	https://www.seatsplus.com.au/products/bike-racks-bins-accessories/5-bay-bike-stands/
Redirect 301 /product/bike-rail/	https://www.seatsplus.com.au/products/bike-racks-bins-accessories/bike-rail/
Redirect 301 /product/compact-park-setting/	https://www.seatsplus.com.au/products/park-settings/compact-park-setting/
Redirect 301 /shop/	https://www.seatsplus.com.au/products/
Redirect 301 /product/bolt-down-benches/	https://www.seatsplus.com.au/products/bench-seating/bolt-down-bench/
Redirect 301 /product/wheelchair-friendly-park-setting/	https://www.seatsplus.com.au/products/park-settings/wheelchair-friendly-park-setting/
Redirect 301 /product/3-tier-bag-racks/	https://www.seatsplus.com.au/products/bike-racks-bins-accessories/bag-rack/
Redirect 301 /product/childrens-stackable-benches/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-stackable-bench/
Redirect 301 /product/wheelchair-friendly-park-setting-with-backrest/	https://www.seatsplus.com.au/products/park-settings/wheelchair-friendly-park-setting-with-back-rest/
Redirect 301 /product/wheelie-bins/	https://www.seatsplus.com.au/products/bike-racks-bins-accessories/wheelie-bins/
Redirect 301 /product/three-tier-grandstand/	https://www.seatsplus.com.au/products/spectator-seating/three-tier-grandstand/
Redirect 301 /product/c-stand/	https://www.seatsplus.com.au/products/bike-racks-bins-accessories/bin-c-stand/
Redirect 301 /product/childrens-inground-benches/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-inground-bench/
Redirect 301 /product/buddy-bench/	https://www.seatsplus.com.au/products/buddy-benches/buddy-bench/
Redirect 301 /product/deluxe-park-setting/	https://www.seatsplus.com.au/products/park-settings/deluxe-park-setting/
Redirect 301 /product/timber-slatted-park-setting-2/	https://www.seatsplus.com.au/products/timber-seating/timber-slatted-park-setting/
Redirect 301 /product/titan-timber-bolt-down-bench-with-back-rest/	https://www.seatsplus.com.au/products/timber-seating/titan-timber-bolt-down-bench-with-back-rest/
Redirect 301 /product/inground-park-setting/	https://www.seatsplus.com.au/products/park-settings/inground-park-setting/
Redirect 301 /product/bollards/	https://www.seatsplus.com.au/products/bike-racks-bins-accessories/bollards/
Redirect 301 /product/skateboard-stroppers/	https://www.seatsplus.com.au/products/
Redirect 301 /product/double-plank-bench/	https://www.seatsplus.com.au/products/bench-seating/double-plank-inground-bench/
Redirect 301 /product/timber-slatted-park-setting/	https://www.seatsplus.com.au/products/timber-seating/timber-slatted-park-setting/
Redirect 301 /product/bolt-down-benches-with-backrest/	https://www.seatsplus.com.au/products/bench-seating/bolt-down-bench-with-back-rest/
Redirect 301 /product/titan-timber-inground-bench-with-back-rest/	https://www.seatsplus.com.au/products/timber-seating/titan-timber-bolt-down-bench-with-back-rest/
Redirect 301 /product/elite-park-setting/	https://www.seatsplus.com.au/products/park-settings/elite-park-setting/
Redirect 301 /product/inground-bench-with-backrest/	https://www.seatsplus.com.au/products/bench-seating/inground-bench-with-back-rest/
Redirect 301 /product/titan-timber-bolt-down-bench/	https://www.seatsplus.com.au/products/timber-seating/titan-timber-bolt-down-bench-with-back-rest/
Redirect 301 /product/titan-timber-inground-bench/	https://www.seatsplus.com.au/products/timber-seating/titan-timber-inground-bench-with-back-rest/
Redirect 301 /product/economy-buddy-bench/	https://www.seatsplus.com.au/products/buddy-benches/economy-buddy-bench/
Redirect 301 /product/galvanised-bin-stands/	https://www.seatsplus.com.au/products/bike-racks-bins-accessories/economy-galvanised-bins/
Redirect 301 /product/inground-benches/	https://www.seatsplus.com.au/products/bench-seating/inground-bench/
Redirect 301 /product/monash-sheltered-park-setting/	https://www.seatsplus.com.au/products/park-settings/monster-park-setting/
Redirect 301 /product/economy-bin-surround/	https://www.seatsplus.com.au/products/bike-racks-bins-accessories/economy-bin-surround/
Redirect 301 /product/freestanding-bench-with-backrest/	https://www.seatsplus.com.au/products/bench-seating/freestanding-bench-with-back-rest/
Redirect 301 /product/monster-park-setting/	https://www.seatsplus.com.au/products/park-settings/monster-park-setting/
Redirect 301 /product/economy-park-setting/	https://www.seatsplus.com.au/products/park-settings/economy-park-setting/
Redirect 301 /product/wallmounting-benches/	https://www.seatsplus.com.au/products/bench-seating/wall-mounted-benches/
Redirect 301 /product/childrens-freestanding-table/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-freestanding-table/
Redirect 301 /product/4-sided-pedestal-setting/	https://www.seatsplus.com.au/products/park-settings/4-sided-pedestal-setting/
Redirect 301 /product/freestanding-table-with-stackable-benches/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-freestanding-table/
Redirect 301 /product/three-tier-grandstand-with-backrest/	https://www.seatsplus.com.au/products/spectator-seating/three-tier-grandstand-with-back-rest/
Redirect 301 /product/childrens-park-setting/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-park-setting/
Redirect 301 /product/childrens-super-seater-park-setting/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-super-seater-park-setting/
Redirect 301 /product/economy-galvanised-d-handle-bins/	https://www.seatsplus.com.au/products/bike-racks-bins-accessories/economy-galvanised-bins/
Redirect 301 /product/stackable-benches/	https://www.seatsplus.com.au/products/bench-seating/stackable-benches/
Redirect 301 /colour-selector.html	https://www.seatsplus.com.au/resources/colour-chart/
Redirect 301 /product-category/bike-stands-and-bag-racks/	https://www.seatsplus.com.au/products/bike-racks-bins-accessories/5-bay-bike-stands/
Redirect 301 /product/kiddie-bolt-down-benches/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-bolt-down-bench/
Redirect 301 /product/kiddie-inground-benches/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-inground-bench/
Redirect 301 /product-category/park-settings/	https://www.seatsplus.com.au/category/park-settings/
Redirect 301 /product-category/kiddie-park-furniture/	https://www.seatsplus.com.au/category/kiddie-range/
Redirect 301 /product-category/seating/	https://www.seatsplus.com.au/category/bench-seating/
Redirect 301 /product/kiddie-freestanding-table/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-freestanding-table/
Redirect 301 /product/jumbo-park-setting/	https://www.seatsplus.com.au/products/park-settings/jumbo-park-setting/
Redirect 301 /product-category/timber-furniture/	https://www.seatsplus.com.au/category/timber-seating/
Redirect 301 /product/bolt-down-park-setting/	https://www.seatsplus.com.au/products/park-settings/bolt-down-park-setting/
Redirect 301 /product-category/spectator-seating/	https://www.seatsplus.com.au/category/spectator-seating/
Redirect 301 /product-category/buddy-benches/	https://www.seatsplus.com.au/category/buddy-benches/
Redirect 301 /product/kiddie-stackable-benches/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-stackable-bench/
Redirect 301 /product-category/bins/	https://www.seatsplus.com.au/category/bike-racks-bins-accessories/
Redirect 301 /product/kiddie-super-seater-park-setting/	https://www.seatsplus.com.au/products/kiddie-range/kiddie-super-seater-park-setting/
Redirect 301 /product-category/accessories/	https://www.seatsplus.com.au/category/bike-racks-bins-accessories/

RewriteEngine On
RewriteRule ^shop/(.+)$ https://www.seatsplus.com.au/products/ [L,R=301]

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
