
.woocommerce-checkout .wc-proceed-to-checkout a.button,
.woocommerce-checkout .woocommerce-checkout-payment button,
.woocommerce-page input#submit,
.woocommerce-page input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page button,
.woocommerce input#submit,
.woocommerce input.button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce button,
button,
.button {
  background: none!important;
  border-radius: 0;
  &.primary,
  &.checkout-button,
  &#place_order {
    position: relative;
    display: inline-block;
    width: auto;
    color: $brand-black;
    padding: 1.4em 2.6em;
    font-size: 1.15rem;
    font-weight: $medium;
    text-decoration: none;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: $white;
      transform: skew(-10deg);
      z-index: -1;
      transition: 0.5s;
    }
    &.hollow {
      &::before {
        background: transparent;
        border: 1px solid;
      }
      &:hover {
        &::before {
          background-color: rgba($white, 0.15);
        }
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  &.secondary {
    color: $brand-black;
    font-size: 1.25rem;
    font-weight: $heavy;
    &::before {
      content: '\2014';
      display: inline-block;
      width: 1.2em;
    }
    &:hover {
      color: $brand-blue;
    }
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
}