nav.main {
  ul {
    overflow: visible;
    padding: 0;
    > li {
      float: left;
      display: block;
      position: relative;
      padding: 10px;
      &.menu-item-has-children {
        > a {
          padding: 20px 5px;
          &::after {
            content: '';
            display: inline-block;
            height: 0.5em;
            width: 0.5em;
            margin-left: 0.5em;
            background-color: $brand-black;
            mask-position: center center;
            mask-repeat: no-repeat;
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon points="17.13,4.31 10,11.45 2.87,4.31 0.04,7.14 0.04,7.14 10,17.1 19.96,7.14 17.13,4.31"/></svg>');
          }
        }
      }
      ul {
        margin-top: 10px;
        padding: 10px;
        display: none;
        opacity: 0;
        transition: opacity 1s;
        position: absolute;
        text-align: left;
        left: -5px;
        width: auto;
        overflow: visible;
        background-color: $white;
        box-shadow: 5px 5px 5px rgba($brand-black, 0.5);
        li {
          font-weight: $light;
          display: block;
          width: 100%;
          white-space: nowrap;
          overflow: visible;
        }
      }
      &:hover {
        ul {
          display: block;
          opacity: 1;
        }
      }
      &:hover > a,
      > a:hover {
        color: $brand-blue;
        text-decoration: none;
        &::after {
          background-color: $brand-blue;
        }
      }
    }
  }
}
