main {
  .product-backlink {
    text-align: center;
    margin: 40px auto;
    a {
      color: $grey-dark;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.1;
      font-size: 1.2em;
      i {
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        margin-right: 0.25em;
        vertical-align: bottom;
        background-color: currentColor;
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path class="st0" d="M14.2085,9.45557c0,2.625-2.12793,4.75293-4.75293,4.75293s-4.75293-2.12793-4.75293-4.75293 s2.12793-4.75293,4.75293-4.75293S14.2085,6.83057,14.2085,9.45557z M9.45557,20.24707c-2.625,0-4.75293,2.12793-4.75293,4.75293 s2.12793,4.75293,4.75293,4.75293S14.2085,27.625,14.2085,25S12.08057,20.24707,9.45557,20.24707z M9.45557,35.79199 c-2.625,0-4.75293,2.12793-4.75293,4.75293s2.12793,4.75293,4.75293,4.75293s4.75293-2.12793,4.75293-4.75293 S12.08057,35.79199,9.45557,35.79199z M25,4.70264c-2.625,0-4.75293,2.12793-4.75293,4.75293S22.375,14.2085,25,14.2085 s4.75293-2.12793,4.75293-4.75293S27.625,4.70264,25,4.70264z M25,20.24707c-2.625,0-4.75293,2.12793-4.75293,4.75293 S22.375,29.75293,25,29.75293S29.75293,27.625,29.75293,25S27.625,20.24707,25,20.24707z M25,35.79199 c-2.625,0-4.75293,2.12793-4.75293,4.75293S22.375,45.29785,25,45.29785s4.75293-2.12793,4.75293-4.75293 S27.625,35.79199,25,35.79199z M40.54492,14.2085c2.625,0,4.75293-2.12793,4.75293-4.75293s-2.12793-4.75293-4.75293-4.75293 s-4.75293,2.12793-4.75293,4.75293S37.91992,14.2085,40.54492,14.2085z M40.54492,20.24707 c-2.625,0-4.75293,2.12793-4.75293,4.75293s2.12793,4.75293,4.75293,4.75293S45.29785,27.625,45.29785,25 S43.16992,20.24707,40.54492,20.24707z M40.54492,35.79199c-2.625,0-4.75293,2.12793-4.75293,4.75293 s2.12793,4.75293,4.75293,4.75293s4.75293-2.12793,4.75293-4.75293S43.16992,35.79199,40.54492,35.79199z"/></svg>');
      }
      &:hover {
        color: $brand-blue;
      }
    }
  }
  &#product-index,
  &#product-category,
  &#product-single {
    & > section  {
      padding: 110px 0;
      @include sm {
        padding: 55px 0;
      }
      @include xs {
        padding: 25px 0;
      }
    }
    figure {
      border: 1px solid $cool-grey;
    }
  }
  &#product-index,
  &#product-category {
    section.content {
      header {
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 100px;
        @include sm {
          margin-bottom: 50px;
        }
        h1 {
          margin: 0;
        }
        h5 {
          color: $brand-blue;
          margin-bottom: 10px;
        }
        .intro {
          padding-top: 60px;
          @include sm {
            padding-top: 0;
          }
        }
      }
    }
    ul.products {
      li {
        &.product-category {

        }
        &.product {

        }
      }
      img {
        border: 1px solid $cool-grey;
      }
      h2, h3 {
        font-size: 1.6em;
        line-height: 1.4;
        font-weight: normal;
        color: $brand-black;
        transition: 0.5s;
        width: 80%;
        @include sm {
          font-size: 1.25em;
        }
        @include xs {
          font-size: 1em;
        }
      }
      a:hover {
        h2, h3 {
          color: $brand-blue;
        }
      }
    }
  }
  &#product-single {
    & > header {
      &:after {
        background-color: $off-white;
      }
    }
    section {
      &.product-content {
        background-color: $off-white;
        .images {
          figure {
            overflow: hidden;
            margin: 0;
          }

        }
        .details {
          @include xs {
            margin-top: 30px;
          }
          h1 {
            margin: 0;
          }
          .category {
            padding: 10px 0;
            font-size: 1.4rem;
            a {
              color: $grey-dark;
            }
          }
          .excerpt {
            border-bottom: 1px solid $grey-dark;
          }
        }
        .options {
          padding-top: 20px;
          .variations {
            padding-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            fieldset {
              margin: 0;
              padding: 0;
              width: 50%;
              &:nth-of-type(odd) {
                padding-right: 15px;
              }
              &:nth-of-type(even) {
                padding-left: 15px;
              }
              @include md {
                width: 100%;
                padding: 0!important;
              }
              label {
                text-transform: uppercase;
                font-size: 1.1em;
                color: $grey-dark;
                letter-spacing: 1pt;
                margin: 0.75em 0;
                display: block;
              }
            }
          }
          .add-to-cart {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            @include md {
              display: block;
            }
            .quantity {
              padding-right: 15px;
              width: 50%;
              @include md {
                padding: 0 0 20px 0;
                width: 100%;
              }
              button {
                width: 50%;
                max-width: 58px;
              }
            }
            button[type=submit] {
              margin-left: 15px;
              border-radius: 0;
              font-size: 1.4rem;
              width: 50%;
              background-color: $brand-blue!important;
              @include md {
                margin: 0;
                width: 100%;
                height: 58px;
              }
            }
            input {
              border: 1px solid $brand-black;
              padding: 10px 15px;
              width: 100%;
              font-size: 1.4rem;
            }
          }
        }
        .share {
          margin-top: 65px;
          .button-wrap {
              display: inline-block;
              height: 46px;
              width: 46px;
              border: 1px solid $grey-mid;
              position: relative;
              border-radius: 50%;
              transition: 0.5s;
              margin-right: 0.5em;
              &:hover {
                  border: 1px solid $brand-blue;
              }
            .share-button {
              cursor: pointer;
              transition: 0.5s;
              position: absolute;
              height: 100%;
              width: 100%;
              background-color: $grey-mid!important;
              mask-position: center center;
              mask-repeat: no-repeat;
              text-indent: -999em;
              mask-size: 16px;
              &:hover {
                background-color: $brand-blue!important;
              }
              &.facebook-share-button {
                mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M12,11H9v4h3v12h5V15h3.642L21,11h-4V9.333C17,8.378,17.192,8,18.115,8H21V3h-3.808C13.596,3,12,4.583,12,7.615 V11z"/></svg>');
              }
              &.twitter-share-button {
                mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M27,7.557c-0.883,0.392-1.832,0.656-2.828,0.775c1.017-0.609,1.798-1.574,2.165-2.724 c-0.951,0.564-2.005,0.974-3.127,1.195c-0.897-0.957-2.178-1.555-3.594-1.555c-3.179,0-5.515,2.966-4.797,6.045 C10.728,11.088,7.1,9.128,4.671,6.149c-1.29,2.213-0.669,5.108,1.523,6.574c-0.806-0.026-1.566-0.247-2.229-0.616 c-0.054,2.281,1.581,4.415,3.949,4.89c-0.693,0.188-1.452,0.232-2.224,0.084c0.626,1.956,2.444,3.379,4.6,3.419 C8.22,22.123,5.612,22.848,3,22.54c2.179,1.397,4.768,2.212,7.548,2.212c9.142,0,14.307-7.721,13.995-14.646 C25.505,9.411,26.34,8.544,27,7.557z"/></svg>');
              }
            }
          }
        }
        .tags {
          margin-top: 35px;
          color: $grey-mid;
          a {
            color: inherit;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        ul.tabs {
          border-bottom: 1px solid $grey-mid;
          padding: 0;
          margin: 0 auto;
          list-style: none;
          li {
            display: inline-block;
            width: calc(100% / 3);
            padding: 0;
            margin: 0 0 -2px 0;
            color: $grey-mid;
            &.active {
              border-bottom: 4px solid $brand-blue;
              color: $brand-blue;
            }
            a {
              text-transform: uppercase;
              font-weight: $heavy;
              letter-spacing: 1pt;
              font-size: 0.85em;
              text-align: center;
              display: block;
              width: 100%;
              padding: 2em;
              color: inherit;
            }
          }
        }
        table.woocommerce-product-attributes {
          border-collapse: collapse;
          tr {
            th, td {
              font-style: normal;
              background: none;
              vertical-align: top;
              padding: 20px 10px;
              p {
                font-size: 13px;
                padding: 0;
              }
            }
            &:nth-of-type(even) {
              th, td {
                background: $white;
              }
            }
          }
        }
      }
      &.related {
        header {
          text-align: center;
          padding-bottom: 55px;
          @include xs {
            padding-bottom: 0;
          }
          h5 {
            color: $brand-blue;
          }
        }
      }
    }
  }
}