main {
  .product-backlink {
    text-align: center;
    margin: 40px auto;
    a {
      color: $grey-dark;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.1;
      font-size: 1.2em;
      i {
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        margin-right: 0.25em;
        margin-bottom: 1pt;
        vertical-align: middle;
        background-color: currentColor;
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path class="st0" d="M14.2085,9.45557c0,2.625-2.12793,4.75293-4.75293,4.75293s-4.75293-2.12793-4.75293-4.75293 s2.12793-4.75293,4.75293-4.75293S14.2085,6.83057,14.2085,9.45557z M9.45557,20.24707c-2.625,0-4.75293,2.12793-4.75293,4.75293 s2.12793,4.75293,4.75293,4.75293S14.2085,27.625,14.2085,25S12.08057,20.24707,9.45557,20.24707z M9.45557,35.79199 c-2.625,0-4.75293,2.12793-4.75293,4.75293s2.12793,4.75293,4.75293,4.75293s4.75293-2.12793,4.75293-4.75293 S12.08057,35.79199,9.45557,35.79199z M25,4.70264c-2.625,0-4.75293,2.12793-4.75293,4.75293S22.375,14.2085,25,14.2085 s4.75293-2.12793,4.75293-4.75293S27.625,4.70264,25,4.70264z M25,20.24707c-2.625,0-4.75293,2.12793-4.75293,4.75293 S22.375,29.75293,25,29.75293S29.75293,27.625,29.75293,25S27.625,20.24707,25,20.24707z M25,35.79199 c-2.625,0-4.75293,2.12793-4.75293,4.75293S22.375,45.29785,25,45.29785s4.75293-2.12793,4.75293-4.75293 S27.625,35.79199,25,35.79199z M40.54492,14.2085c2.625,0,4.75293-2.12793,4.75293-4.75293s-2.12793-4.75293-4.75293-4.75293 s-4.75293,2.12793-4.75293,4.75293S37.91992,14.2085,40.54492,14.2085z M40.54492,20.24707 c-2.625,0-4.75293,2.12793-4.75293,4.75293s2.12793,4.75293,4.75293,4.75293S45.29785,27.625,45.29785,25 S43.16992,20.24707,40.54492,20.24707z M40.54492,35.79199c-2.625,0-4.75293,2.12793-4.75293,4.75293 s2.12793,4.75293,4.75293,4.75293s4.75293-2.12793,4.75293-4.75293S43.16992,35.79199,40.54492,35.79199z"/></svg>');
      }
      &:hover {
        color: $brand-blue;
      }
    }
  }
  &#product-index,
  &#product-category,
  &#product-single {
    & > section  {
      padding: 110px 0;
    }
    figure {
      border: 1px solid $cool-grey;
    }
  }
  &#product-index,
  &#product-category {
    section.content {
      header {
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 100px;
        h1 {
          margin: 0;
        }
        h5 {
          color: $brand-blue;
          margin-bottom: 10px;
        }
        .intro {
          padding: 60px 0 0;
        }
      }
    }
    ul.products {
      li {
        &.product-category {

        }
        &.product {

        }
      }
      img {
        border: 1px solid $cool-grey;
      }
      h2, h3 {
        font-size: 1.6em;
        line-height: 1.4;
        font-weight: normal;
        color: $brand-black;
        transition: 0.5s;
        width: 80%;
      }
      a:hover {
        h2, h3 {
          color: $brand-blue;
        }
      }
    }
  }
  &#product-single {
    & > header {
      &:after {
        background-color: $off-white;
      }
    }
    section {
      &.product-content {
        background-color: $off-white;
        .images {
          figure {
            overflow: hidden;
            margin: 0;
          }

        }
        .details {
          padding: 0 0 0 50px;
          h1 {
            margin: 0;
          }
          .category {
            padding: 10px 0;
            font-size: 1.4rem;
            a {
              color: $grey-dark;
            }
          }
          .excerpt {
            border-bottom: 1px solid $grey-dark;
          }
        }
        .options {
          padding-top: 20px;
          margin-left: 20px;
          .variations {
            padding-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            fieldset {
              margin: 0;
              padding: 0 0 0 30px;
              width: 50%;
              label {
                text-transform: uppercase;
                font-size: 1.1em;
                color: $grey-dark;
                letter-spacing: 1pt;
                margin: 0.75em 0;
                display: block;
              }
            }
          }
          .add-to-cart {
            margin-left: 30px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            .quantity,
            button {
              width: 50%;
            }
            button {
              margin-left: 30px;
              border-radius: 0;
              font-size: 1.4rem;
              background-color: $brand-blue;
            }
            input {
              border: 1px solid $brand-black;
              padding: 10px 15px;
              width: 100%;
              font-size: 1.4rem;
            }
          }
          .quantity {
            .pseudo-qty {
              display: flex;
              border: 1px solid $brand-black;
              justify-content: space-between;
              button {
                background-color: $white;
                border: none;
                color: $grey-dark;
                margin: 0;
                cursor: pointer;
                padding: 20px 15px;
                font-size: 1.4rem;
                line-height: 1;
                &.qty-inc {
                  border-left: 1px solid $brand-black;
                }
                &.qty-dec {
                  border-right: 1px solid $brand-black;
                }
              }
              input {
                flex: 1 1 auto;
                margin: 0;
                text-align: center;
                border: none;
              }
            }
          }
        }
        ul.tabs {
          border-bottom: 1px solid $grey-mid;
          padding: 0;
          margin: 0 auto;
          list-style: none;
          li {
            display: inline-block;
            width: calc(100% / 3);
            padding: 0;
            margin: 0 0 -2px 0;
            color: $grey-mid;
            &.active {
              border-bottom: 4px solid $brand-blue;
              color: $brand-blue;
            }
            a {
              text-transform: uppercase;
              font-weight: $heavy;
              letter-spacing: 1pt;
              font-size: 0.85em;
              text-align: center;
              display: block;
              width: 100%;
              padding: 2em;
              color: inherit;
            }
          }
        }
        table.woocommerce-product-attributes {
          border-collapse: collapse;
          tr {
            th, td {
              font-style: normal;
              background: none;
              vertical-align: top;
              padding: 20px 10px;
              p {
                font-size: 13px;
                padding: 0;
              }
            }
            &:nth-of-type(even) {
              th, td {
                background: $white;
              }
            }
          }
        }
      }
      &.related {
        header {
          text-align: center;
          padding-bottom: 55px;
          h5 {
            color: $brand-blue;
          }
        }
      }
    }
  }
}