main {
  &#product-index,
  &#product-category,
  &#product-single {
    & > section  {
      padding: 110px 0;
    }
    figure {
      border: 1px solid $cool-grey;
    }
  }
  &#product-index {

  }
  &#product-category {

  }
  &#product-single {
    .images {
      figure {
        max-height: 530px;
        overflow: hidden;
        margin: 0;
      }

    }
    .details {
      padding: 0 50px;
      h1 {
        margin: 0;
      }
      .category {
        padding: 10px 0;
        font-size: 1.4rem;
        a {
          color: $grey-dark;
        }
      }
      .options {
        .attributes {
          padding-bottom: 20px;
          display: flex;
          flex-wrap: wrap;
          fieldset {
            padding: 0;
            margin: 0;
            flex: 0 1 50%;
            width: 50%;
          }
        }
        .add-to-cart {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
        }
      }
    }

  }
}