main {
  &#product-index,
  &#product-category,
  &#product-single {
    & > section  {
      padding: 110px 0;
    }
    figure {
      border: 1px solid $cool-grey;
    }
  }
  &#product-index {

  }
  &#product-category {

  }
  &#product-single {
    .images {
      figure {
        max-height: 530px;
        overflow: hidden;
        margin: 0;
      }

    }
    .details {
      padding: 0 0 0 50px;
      h1 {
        margin: 0;
      }
      .category {
        padding: 10px 0;
        font-size: 1.4rem;
        a {
          color: $grey-dark;
        }
      }
      .excerpt {
        border-bottom: 1px solid $grey-dark;
      }
    }
    .options {
      margin-left: 20px;
      .attributes {
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        fieldset {
          margin: 0;
          padding: 0 0 0 30px;
          width: 50%;
          label {
            text-transform: uppercase;
            font-size: 1.1em;
            color: $grey-dark;
            letter-spacing: 1pt;
            margin: 0.75em 0;
            display: block;
          }
        }
      }
      .single_variation_wrap {
        margin-top: 20px;
        .add-to-cart {
          margin-left: 30px;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          .quantity,
          button {
            width: 50%;
          }
          button {
            margin-left: 30px;
            border-radius: 0;
            font-size: 1.4rem;
            background-color: $brand-blue;
          }
          input {
            border: 1px solid $brand-black;
            padding: 10px 15px;
            width: 100%;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}