main {
  .project-backlink {
    text-align: center;
    margin: 40px auto;
    a {
      color: $grey-dark;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.1;
      font-size: 1.2em;
      i {
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        margin-right: 0.25em;
        margin-bottom: 1pt;
        vertical-align: middle;
        background-color: currentColor;
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path class="st0" d="M14.2085,9.45557c0,2.625-2.12793,4.75293-4.75293,4.75293s-4.75293-2.12793-4.75293-4.75293 s2.12793-4.75293,4.75293-4.75293S14.2085,6.83057,14.2085,9.45557z M9.45557,20.24707c-2.625,0-4.75293,2.12793-4.75293,4.75293 s2.12793,4.75293,4.75293,4.75293S14.2085,27.625,14.2085,25S12.08057,20.24707,9.45557,20.24707z M9.45557,35.79199 c-2.625,0-4.75293,2.12793-4.75293,4.75293s2.12793,4.75293,4.75293,4.75293s4.75293-2.12793,4.75293-4.75293 S12.08057,35.79199,9.45557,35.79199z M25,4.70264c-2.625,0-4.75293,2.12793-4.75293,4.75293S22.375,14.2085,25,14.2085 s4.75293-2.12793,4.75293-4.75293S27.625,4.70264,25,4.70264z M25,20.24707c-2.625,0-4.75293,2.12793-4.75293,4.75293 S22.375,29.75293,25,29.75293S29.75293,27.625,29.75293,25S27.625,20.24707,25,20.24707z M25,35.79199 c-2.625,0-4.75293,2.12793-4.75293,4.75293S22.375,45.29785,25,45.29785s4.75293-2.12793,4.75293-4.75293 S27.625,35.79199,25,35.79199z M40.54492,14.2085c2.625,0,4.75293-2.12793,4.75293-4.75293s-2.12793-4.75293-4.75293-4.75293 s-4.75293,2.12793-4.75293,4.75293S37.91992,14.2085,40.54492,14.2085z M40.54492,20.24707 c-2.625,0-4.75293,2.12793-4.75293,4.75293s2.12793,4.75293,4.75293,4.75293S45.29785,27.625,45.29785,25 S43.16992,20.24707,40.54492,20.24707z M40.54492,35.79199c-2.625,0-4.75293,2.12793-4.75293,4.75293 s2.12793,4.75293,4.75293,4.75293s4.75293-2.12793,4.75293-4.75293S43.16992,35.79199,40.54492,35.79199z"/></svg>');
      }
      &:hover {
        color: $brand-blue;
      }
    }
  }
  &#project-index,
  &#project-single {
    & > section  {
      padding: 110px 0;
    }
  }
  &#project-index {
    section.content {
      header {
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 100px;
        h1 {
          margin: 0;
        }
        h5 {
          color: $brand-blue;
          margin-bottom: 10px;
        }
        .intro {
          padding: 60px 0 0;
        }
      }
    }
    ul.projects {
      padding: 0;
      li {
        list-style: none;
        &.project {
          figure {
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            display: block;
          }
        }
      }
      h2, h3 {
        font-size: 1.6em;
        line-height: 1.4;
        font-weight: normal;
        color: $brand-black;
        transition: 0.5s;
        width: 80%;
      }
      a:hover {
        h2, h3 {
          color: $brand-blue;
        }
      }
    }
  }
  &#project-single {
    & > header {
      &:after {
        background-color: $white;
      }
    }
    article {
      background-color: $white;
      padding: 110px 0;
      h1 {
        margin: 0;
      }
      h3, h5 {
        color: $brand-blue;
        margin: 0;
      }
      .feature {
        padding: 20px 0;
        position: relative;
        i {
          display: block;
          background-color: $brand-blue;
          width: 54px;
          height: 60px;
          clip-path: polygon(0 100%, 100% 90%, 100% 0, 0 0);
          position: absolute;
          left: -90px;
          &::after {
            content: '';
            display: block;
            background-color: $white;
            width: 50px;
            height: 50px;
            position: absolute;
            margin: 2px;
          }
          &.location::after {
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M24.42041,11.57764c-4.604,0.04834-8.29395,3.81641-8.24561,8.42041c0.03955,3.80615,2.09277,7.87598,4.10303,11.02539 c2.01074,3.14844,4.01172,5.37793,4.01172,5.37793c0.10107,0.11133,0.24414,0.1748,0.39258,0.17285 c0.14844-0.00098,0.29004-0.06836,0.38867-0.18066c0,0,1.95557-2.31738,3.89795-5.52637 c1.94141-3.20898,3.91113-7.31055,3.87207-11.04395C32.79199,15.21973,29.02441,11.5293,24.42041,11.57764z M24.43115,12.61914 c4.04248-0.04199,7.32568,3.17285,7.36768,7.21533c0.03516,3.35059-1.81738,7.354-3.71484,10.48877 c-1.59082,2.62695-2.94189,4.32129-3.41602,4.90234c-0.49023-0.56641-1.87646-2.19629-3.51709-4.76465 c-1.96094-3.07227-3.89844-7.04199-3.93457-10.47412C17.17383,15.94482,20.38867,12.66162,24.43115,12.61914z M24.4751,16.78564 c-2.0083,0.021-3.62891,1.67578-3.60791,3.68408c0.02148,2.00781,1.67627,3.62842,3.68408,3.60742 c2.0083-0.021,3.62842-1.67578,3.60693-3.68408C28.1377,18.38525,26.48242,16.76465,24.4751,16.78564z M24.48584,17.82764 c1.44434-0.01514,2.61572,1.13232,2.63135,2.57666c0.01465,1.44434-1.13232,2.61621-2.57666,2.63135 c-1.44482,0.01514-2.61621-1.13232-2.63135-2.57715C21.89404,19.01416,23.0415,17.84229,24.48584,17.82764z"/></svg>');
          }
          &.requirement::after {
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M12.00781,11.57568c-1.30908,0-2.38135,1.07227-2.38135,2.38086c0,1.30908,1.07227,2.38135,2.38135,2.38135 s2.38086-1.07227,2.38086-2.38135C14.38867,12.64795,13.31689,11.57568,12.00781,11.57568z M12.00781,12.76611 c0.66504,0,1.19043,0.52588,1.19043,1.19043c0,0.66504-0.52539,1.19092-1.19043,1.19092s-1.19043-0.52588-1.19043-1.19092 C10.81738,13.29199,11.34277,12.76611,12.00781,12.76611z M16.76953,13.36133v1.19092h22.61914v-1.19092H16.76953z M12.00781,21.69482c-1.30908,0-2.38135,1.07178-2.38135,2.38086s1.07227,2.38135,2.38135,2.38135s2.38086-1.07227,2.38086-2.38135 S13.31689,21.69482,12.00781,21.69482z M12.00781,22.88525c0.66504,0,1.19043,0.52539,1.19043,1.19043 s-0.52539,1.19043-1.19043,1.19043s-1.19043-0.52539-1.19043-1.19043S11.34277,22.88525,12.00781,22.88525z M16.76953,23.48047 v1.19043h22.61914v-1.19043H16.76953z M12.00781,31.81348c-1.30908,0-2.38135,1.07227-2.38135,2.38184 c0,1.30859,1.07227,2.38086,2.38135,2.38086s2.38086-1.07227,2.38086-2.38086 C14.38867,32.88574,13.31689,31.81348,12.00781,31.81348z M12.00781,33.00391c0.66504,0,1.19043,0.52637,1.19043,1.19141 c0,0.66406-0.52539,1.19043-1.19043,1.19043s-1.19043-0.52637-1.19043-1.19043 C10.81738,33.53027,11.34277,33.00391,12.00781,33.00391z M16.76953,33.59961v1.19043h22.61914v-1.19043H16.76953z"/></svg>');
          }
          &.solution::after {
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M24.50781,11.57568c-6.89307,0-12.5,5.60742-12.5,12.5c0,6.89307,5.60693,12.50049,12.5,12.50049 c6.89258,0,12.5-5.60742,12.5-12.50049c0-2.47803-0.72852-4.78809-1.97656-6.73291l-0.74414,0.87891 c1.03027,1.71436,1.63379,3.71289,1.63379,5.854c0,6.29346-5.12012,11.41357-11.41309,11.41357s-11.41309-5.12012-11.41309-11.41357 c0-6.29297,5.12012-11.41309,11.41309-11.41309c2.95801,0,5.64844,1.14111,7.67871,2.99463l0.71094-0.83984 C30.67773,12.8042,27.7334,11.57568,24.50781,11.57568z M34.41895,14.70312l-10.50146,12.3916l-4.41992-4.12305l-0.74121,0.79541 l5.25342,4.8999l11.23926-13.26123L34.41895,14.70312z"/></svg>');
          }
          &.result::after{
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M17.16602,11.77637l-3.74609,4.7876l-1.74268-1.54248l-0.84131,0.96143l2.24365,2.00293l0.50049,0.44092l0.4209-0.54102 l4.1665-5.30811L17.16602,11.77637z M20.87207,14.74072v1.28223h17.30762v-1.28223H20.87207z M17.16602,20.75049l-3.74609,4.7876 l-1.74268-1.54248l-0.84131,0.96143l2.24365,2.00293l0.50049,0.44141l0.4209-0.54102l4.1665-5.30859L17.16602,20.75049z M20.87207,23.71533v1.28174h17.30762v-1.28174H20.87207z M17.16602,29.72461l-3.74609,4.78809l-1.74268-1.54297l-0.84131,0.96191 l2.24365,2.00293l0.50049,0.44141l0.4209-0.54102l4.1665-5.30859L17.16602,29.72461z M20.87207,32.68945v1.28223h17.30762v-1.28223 H20.87207z"/></svg>');
          }
        }
      }
    }
    article,
    section {
      &.project-slides {
        background-color: $brand-black;
        position: relative;
        color: $white;
        margin: 0 auto;
        padding: 0;
        &::before {
          content: '';
          display: block;
          background-color: $white;
          height: 280px;
          width: 100%;
          clip-path: polygon(0 100%, 100% 80%, 100% 0, 0 0);
          position: absolute;
          z-index: 0;
          top: 0;
        }
        .container {
          position: relative;
          z-index: 1;
          .project-slider {
            margin: 0;
            figure {
              img {
                height: auto;
              }
            }
          }
        }
      }
      &.project-info {
        background-color: $brand-black;
        color: $white;
        h3 {
          font-weight: normal;
        }
        h5 {
          color: $brand-yellow;
          font-weight: normal;
          text-transform: uppercase;
        }
      }
      &.related {
        header {
          text-align: center;
          padding-bottom: 55px;
          h5 {
            color: $brand-blue;
          }
        }
        ul.projects {
          li {
            list-style: none;
            float: left;
            margin: 0 3.8% 2.992em 0;
            padding: 0;
            position: relative;
            width: 22.05%;
            margin-left: 0;
            img {
              width: 100%;
              height: auto;
              display: block;
              margin: 0 0 1em;
            }
            h2 {
              padding: .5em 0;
              margin: 0;
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}