.main-slider {
  position: relative;
  background-color: $white;
  .slider {
    margin: 0;
    padding: 0;
    .slide {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
      height: 666px;
      color: $white;
      display: flex;
      align-items: stretch;
      .content {
        height: 100%;
        align-items: center;
        .button {
          color: $white;
        }
      }
    }
  }
}

.product-category-slider {
    margin: 55px 0;
    position: relative;
    min-width: 100vw;
    .slider {
      .slide {
        margin-right: 30px!important;
        width: fit-content!important;
        figure {
          background-color: $cool-grey;
          width: 460px;
          height: 345px;
        }
        h3 a {
          color: $brand-black;
        }
      }
    }
}