// Colours
$white: #FFFFFF;
$brand-blue: #00ADEE;
$brand-yellow: #FCB823;
$brand-red: #EE3829;
$brand-black: #2C383D;

$cool-grey: #A5B2B7;
$cool-grey-dark: #2C393E;

$grey: #D8D8D8;
$grey-mid: #B3B3B3;
$grey-dark: #6B6B6B;